* {
  font-family: 'Poppins', sans-serif;
}

.Hero{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('./assets/img/cinema.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Hero .link{
  text-decoration: none;
  color: white;
}

.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}

.Main{
  text-align: center;
  padding-top: 60px;
  background-color: #20242a;
}

.Movie-wrapper{
  width: 300px;
  background-color: antiquewhite;
  color: black;
}

.Movie-title{
  height: 54px;
  margin-top: 30px;
}

.Movie-date{
  margin-top: 10px;
}

.Movie-rate{
  color: red;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 1.5em;
}

.Movie-search{
  height: 46px;
  font-size: 18px;
  margin-bottom: 32px;
  padding: 16px;
  font-weight: bold;
}

.footer{
  background-color: #292d31;
}